In [111]:
#Librerias a usar
import pandas as pd
import gzip

Primera funci√≥n

se habren los datasets que ya se les realizo ETL y se guardaron como csv

In [112]:
steam_games = pd.read_csv('../datasets/steam_games.csv')

In [113]:
with gzip.open('../datasets/user_items.csv.gz', 'rt', encoding='utf-8') as f:
    user_items = pd.read_csv(f)

Se seleccionan solo las columnas que se van a usar para realizar la funcion

In [114]:
steam_games.head(0)

Empty DataFrame
Columns: [publisher, genres, app_name, title, url, release_date, reviews_url, specs, price, early_access, id, developer, year]
Index: []

In [115]:
steam_games_f1 = steam_games[['id', 'genres', 'year']]

In [116]:
steam_games_f1.head(2)

       id                                             genres  year
0  761140  ['Action', 'Casual', 'Indie', 'Simulation', 'S...  2018
1  643980       ['Free to Play', 'Indie', 'RPG', 'Strategy']  2018

In [117]:
user_items.head(0)

Empty DataFrame
Columns: [user_id, items_count, steam_id, user_url, item_id, item_name, playtime_forever, playtime_2weeks]
Index: []

In [118]:
user_items_f1 = user_items[['item_id', 'playtime_forever']]

In [119]:
user_items.shape

(5153209, 8)

In [120]:
user_items_f1.head()

   item_id  playtime_forever
0       10               6.0
1       20               0.0
2       30               7.0
3       40               0.0
4       50               0.0

In [121]:
# 1. Fusionar los DataFrames
merged_df = pd.merge(steam_games_f1, user_items_f1, left_on='id', right_on='item_id')

In [122]:
merged_df.head()

       id                         genres  year  item_id  playtime_forever
0  282010  ['Action', 'Indie', 'Racing']  1997   282010               5.0
1  282010  ['Action', 'Indie', 'Racing']  1997   282010               0.0
2  282010  ['Action', 'Indie', 'Racing']  1997   282010               0.0
3  282010  ['Action', 'Indie', 'Racing']  1997   282010               0.0
4  282010  ['Action', 'Indie', 'Racing']  1997   282010              13.0

ya fusionados los dos df se guadan con csv para que sean consumidos por la funci√≥n

In [123]:
merged_df.to_csv('../datasets/data_funcion1.csv',index=False)

In [124]:
with gzip.open('../datasets/data_funcion1.csv.gz', 'wb') as f:
    merged_df.to_csv(f, index=False, encoding='utf-8')

In [130]:
def PlayTimeGenre(genero: str):

    '''Esta funcion debe devolver a√±o con mas horas jugadas para dicho g√©nero.
    Ejemplo de retorno: {"A√±o de lanzamiento con m√°s horas jugadas para G√©nero X" : 2013}'''
    # Paso 1: Filtrar el DataFrame para obtener solo las filas relacionadas con el g√©nero espec√≠fico
    #with gzip.open('../datasets/data_funcion1.csv.gz', 'rt', encoding='utf-8') as f:
        #merged_df = pd.read_csv(f)

    merged_df = pd.read_csv('../datasets/data_funcion1.csv.gz')

    genero = genero.capitalize()
    filtro_df = merged_df[merged_df['genres'].apply(lambda x: genero in x)]

    if not filtro_df.empty:
        # Paso 2: Agrupar por a√±o sumando las horas jugadas para cada a√±o
        merged_df = pd.read_csv(f)
        
        grouped_df = filtro_df.groupby('year')['playtime_forever'].sum().reset_index()

        # Paso 3: Encontrar el a√±o con la mayor cantidad de horas jugadas
        max_year = grouped_df.loc[grouped_df['playtime_forever'].idxmax()]['year']

        return {"A√±o de lanzamiento con m√°s horas jugadas para G√©nero {}:".format(genero): int(max_year)}
    else:
        return {"G√©nero {} no encontrado en el DataFrame.".format(genero): None}

In [132]:
def PlayTimeGenre(genero: str):
    '''Esta funci√≥n debe devolver a√±o con mas horas jugadas para dicho g√©nero.
    Ejemplo de retorno: {"A√±o de lanzamiento con m√°s horas jugadas para G√©nero X" : 2013}'''
    
    # Leer el DataFrame desde el archivo CSV
    merged_df = pd.read_csv('../datasets/data_funcion1.csv.gz')

    # Capitalizar la primera letra del g√©nero
    genero = genero.capitalize()

    # Filtrar el DataFrame para obtener solo las filas relacionadas con el g√©nero espec√≠fico
    filtro_df = merged_df[merged_df['genres'].apply(lambda x: genero in x)]

    if not filtro_df.empty:
        # Agrupar por a√±o sumando las horas jugadas para cada a√±o
        grouped_df = filtro_df.groupby('year')['playtime_forever'].sum().reset_index()

        # Encontrar el a√±o con la mayor cantidad de horas jugadas
        max_year = grouped_df.loc[grouped_df['playtime_forever'].idxmax()]['year']

        return {"A√±o de lanzamiento con m√°s horas jugadas para G√©nero {}:".format(genero): int(max_year)}
    else:
        return {"G√©nero {} no encontrado en el DataFrame.".format(genero): None}

In [139]:

# Ejemplo de uso
resultado = PlayTimeGenre('ACTION')
print(resultado)

{'A√±o de lanzamiento con m√°s horas jugadas para G√©nero Action:': 2012}